node_modules/
dist/

.nyc_output/
coverage/
test-results.xml

.idea
*.iml

.env

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#Credentials file
infra/credentials/account.json